    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3 class="modal-title"></h3>
    </div>
    <div class="modal-body"><div class="modal-image"></div></div>
    <div class="modal-footer">
        <a class="btn modal-download" target="_blank">
            <i class="icon-download"></i>
            <span><?php echo $this->translate('Descargar')?></span>
        </a>
        <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
            <i class="icon-play icon-white"></i>
            <span><?php echo $this->translate('Modo presentación') ?></span>
        </a>
        <a class="btn btn-info modal-prev">
            <i class="icon-arrow-left icon-white"></i>
            <span><?php echo $this->translate('Anterior') ?></span>
        </a>
        <a class="btn btn-primary modal-next">
            <span><?php echo $this->translate('Siguiente') ?></span>
            <i class="icon-arrow-right icon-white"></i>
        </a>
    </div>

