<?php use Zend\Debug\Debug; ?>
<!-- CSS adjustments for browsers with JavaScript disabled -->
<noscript><link rel="stylesheet" href="<?php echo $this->basePath('jQuery-File-Upload/css/jquery.fileupload-ui-noscript.css') ?>"></noscript>

<?php 
$this->headLink()
->appendStylesheet($this->basePath() . '/jQuery-File-Upload/cdn/css/bootstrap.min.css')
->appendStylesheet($this->basePath() . '/jQuery-File-Upload/css/style.css')
->appendStylesheet($this->basePath() . '/jQuery-File-Upload/cdn/css/bootstrap-responsive.min.css')
->appendStylesheet($this->basePath() . '/jQuery-File-Upload/cdn/css/bootstrap-ie6.min.css', 'screen', 'lt IE 7')
->appendStylesheet($this->basePath() . '/jQuery-File-Upload/Bootstrap-Image-Gallery/css/bootstrap-image-gallery.min.css')
->appendStylesheet($this->basePath() . '/jQuery-File-Upload/css/jquery.fileupload-ui.css') ?>

<?php 

?>
<?php if($title = $this->uploader->getOption('title')): ?>
	<div class="page-header">
    	<h3><?php echo $title ?> <?php if($subtitle = $this->uploader->getOption('subtitle')): ?><small><?php echo $subtitle; ?></small><?php endif; ?></h3>
    </div>
    <?php endif; ?>
<!-- The file upload form used as target for the file upload widget -->
    <form id="<?php echo $this->uploader->getUploaderId() ?>" class="fileupload-handler" action="" method="POST" enctype="multipart/form-data">
        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="<?php echo $this->basepath() ?>"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="span7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span><?php echo $this->translate('Añadir archivos...') ?></span>
                    <input type="file" name="files[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start">
                    <i class="icon-upload icon-white"></i>
                    <span><?php echo $this->translate('Empezar carga') ?></span>
                </button>
                <button type="reset" class="btn btn-warning cancel">
                    <i class="icon-ban-circle icon-white"></i>
                    <span><?php echo $this->translate('Cancelar carga') ?></span>
                </button>
                <button type="button" class="btn btn-danger delete">
                    <i class="icon-trash icon-white"></i>
                    <span><?php echo $this->translate('Eliminar') ?></span>
                </button>
                <input type="checkbox" class="toggle">
                <!-- The loading indicator is shown during file processing -->
                <span class="fileupload-loading"></span>
            </div>
            <!-- The global progress information -->
            <div class="span5 fileupload-progress fade">
                <!-- The global progress bar -->
                <div class="progress progress-success progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                    <div class="bar" style="width:0%;"></div>
                </div>
                <!-- The extended global progress information -->
                <div class="progress-extended">&nbsp;</div>
            </div>
        </div>
        <!-- The loading indicator is shown during file processing -->
        <div class="fileupload-loading"></div>
        <br>
        <!-- The table listing the files available for upload/download -->
        <table role="presentation" class="table table-striped"><tbody class="files" data-toggle="modal-gallery" data-target="<?php echo '#' . $this->uploader->getOption('modalGalleryTemplateId') ?>"></tbody></table>
        
         <div class="fileupload-drag-drop-area span8">
	            <div class="fileupload-drag-drop-inside">
					<p class="fileupload-drag-drop-info"><?php echo $this->translate('Arrastra los archivos aquí') ?></p>
					<p>o</p>
					<p class="fileupload-drag-drop-buttons"> <span class="btn btn-success fileinput-button">
                    <i class="icon-plus icon-white"></i>
                    <span><?php echo $this->translate('Añadir archivos...') ?></span>
                    <input type="file" name="files[]" multiple>
                </span></p>
				</div>
            </div>
    </form>

